html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 1400px;
    min-height: 100%;
    margin: auto;
    margin-top: 100px;
}

.nav {
    z-index: 3;
    background-color: dimgrey;
}


.main h1 {
    background-color: #A7DBD8;
    width: auto;
    font-size: 1.2em;
    padding: 5px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    margin: 10px;
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.card-body {
    width: 100%;
}

#feature {
    margin: 0px;
}

.information {
    height: 250px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ececec;
    align-items: center;
    border-radius: 10px;
}

img {
    height: 200px;
    border-radius: 5px;
}

.buttons {
    margin: 10px;
}

/* #repay {
    display: none;
} */